<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="Oxigeno_App.My.MySettings.ExportConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\nicol\OneDrive\Ox\Export.mdb"
      providerName="System.Data.OleDb" />
    <add name="Oxigeno_App.My.MySettings.ExportConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\OD\OneDrive\Oxigeno\Resources\Export.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>